.header-banner
  text-align center
  background-color black

.header-nav
  text-align right
  background-color greencolor
  margin-bottom 20px
  font-size: 0
  > *
    font-size 1rem
  then-clear-both()

.header-top
  then-clear-both()

#content-wrapper.left-column
  margin-left 25%

#content-wrapper.right-column
  margin-right 25%

#right-column
  float right
  width 25%
