#_desktop_top_menu {
  padding-right: 0;
  #top-menu {
    a[data-depth="0"] {
      color: $green-even-darker;
      text-transform: uppercase;
      font-weight: bold;
      padding: rem(3px) $small-space rem(6px);
      &:hover {
        #header & {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

#_desktop_contact_link {
  flex: 0 0 300px;
  max-width: 100%;
  #contact-link {
    color: $green-even-darker;
    background: white;
    text-transform: uppercase;
    font-weight: bold;
    padding: rem(10px) rem(10px) rem(14px);
    text-align: center;
    span {
      color: $red;
      font-size: rem(17px);
    }
  }
}
