.gift_reduction_price {
    background: #f13340 none repeat scroll 0 0;
    border: 1px solid #d02a2c;
    color: #fff;
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 23px;
    margin-right: 10px;
    padding: 1px 2px;
    text-align: center;
    width: 35%;
}