$gray-darker: #414141;
$gray-more-dark: #939598;
$gray-social: #acaaa6;
$gray-border-form: #cacaca;
$gray-dark: #e3e1e1;
$gray: #e8e8e8;
$gray-light: #e2e2e2;
$gray-lighter: #ebebeb;
$gray-form: #f4f4f4;
$green-even-darker: #00814f;
$green-darker: #64b596;
$green-dark: #76ccaa;
$green: #b1daca;
$green-border-form: #b5e0cf;
$green-light: #c8e5da;
$green-lighter: #ddf2ea;
$red-dark: #920d23;
$red: #b61f38;
$red-light: #dacbd0;
$red-lighter: #eadbe0;
$text-title: #080909;
$brand-primary: $green-darker;
$brand-secondary: #f39d72;
$brand-success: #4cbb6c;
$brand-warning: #ff9a52;
$brand-danger: #ff4c4c;
$label-color: $gray-darker;
$btn-primary-color: #fff;
$btn-primary-bg: $red;
$btn-primary-border: $red;
$btn-secondary-color: $green-dark;
$btn-secondary-bg: white;
$btn-secondary-border: $green-dark;
$btn-border-radius: 0;
$headings-font-weight: 700;
$tooltip-bg: $brand-danger;
$border-radius: 0;
$extra-small-space: rem(5px);
$small-space: rem(10px);
$normal-space: rem(15px);
$medium-space: rem(20px);
$large-space: rem(30px);
$extra-large-space: rem(40px);
$warning: #FF9A52;
$warning-hover: #FDE7BB;
$alert-warning-bg: rgba(255,154,82,0.3);
$alert-warning-border: $warning;
$alert-warning-text: $gray-darker;
$btn-warning-bg: $warning;
$btn-warning-color: white;
$btn-tertiary-color: #6C868E;
$btn-tertiary-hover: #BBCDD2;
$base-font-size: rem(16px);
$font-size-lg: rem(15px);
$font-size-sm: rem(14px);
$font-size-xs: rem(13px);
$font-size-h1: rem(22px);
$font-size-h2: rem(20px);
$font-size-h3: rem(18px);
$font-size-h4: rem(18px);
$font-size-h5: rem(16px);
$font-size-h6: rem(15px);
$display1-size: rem(50px);
$display1-weight: 600;
$display2-size: rem(35px);
$display2-weight: 400;
$display3-size: rem(25px);
$display3-weight: 400;
$display4-size: rem(20px);
$display4-weight: 400;
$text-muted: $gray;
$input-color-focus: $gray-more-dark;
